
// Fonts
@import url('https://fontlibrary.org/face/opendyslexic');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.cookie-consent {
    background: $purple;
    color: $body-bg;
    padding: 1ex;
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.cookie-consent * {
    margin: 0 1.5em;
}

.card {
    margin-bottom: 30px;
}

.navbar-light .navbar-brand a,
.navbar-light .navbar-brand:focus a,
.navbar-light .navbar-brand:hover a {
    color: rgba(0,0,0,.9);
}
